<footer class="border-top border-3  border-primary">
    <div class="container py-md-8 py-6">
      <p class="text-center fs-md-2 fs-1 noto-tc-sans">
        © 7TAO七逃. All Rights Reserved
      </p>
    </div>
  </footer>