.page-item {
    width: 40px;
    height: 40px;
    text-align: center;
  }

  .event-card__title,.event-card__event-type{
    font-weight: bold;
    font-family: 'Noto Serif TC' !important;
  }

  .event-card__describe,.event-card__ticket-btn-text{
    font-family: 'Noto Sans TC' !important;
  }
